<div class="p-d-flex p-ai-baseline p-jc-between">
    <div class="p-d-flex p-ai-center">
        <a *ngIf="isAdmin" (click)="removePlayer(iscritto.username)"><i class="pi pi-user-minus"></i></a>
        <p *ngIf="!isExternal" class="p-ml-3">{{iscritto.name |titlecase}} {{iscritto.surname |titlecase}}</p>
        <p *ngIf="isExternal" class="p-ml-3">{{iscritto.name |titlecase}} {{iscritto.surname |titlecase}} [Ext]</p>
    </div>
    <div class="border-none p-mr-2 p-d-flex p-jc-around">
        <!-- <p-radiobutton class="p-mr-6" value="WHITE" name="group{{i}}">
            <p-radiobutton value="BLACK" name="group{{i}}"> -->
        <p-radioButton [disabled]="!isAdmin" (click)="assignTeam()" class="p-mr-6" value="WHITE"
            [(ngModel)]="iscritto.team"></p-radioButton>
        <p-radioButton [disabled]="!isAdmin" (click)="assignTeam()" value="BLACK" [(ngModel)]="iscritto.team">
        </p-radioButton>
    </div>
</div>
