.p-card .p-card-body {
    border-radius: 10rem;
}
.info {
    font-size: 1.5rem;
    color: $hintColor;
}
.header {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.5px;
    line-height: 80px;
    text-transform: none;
    color: $primaryTextColor;
}
.content {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: none;
    color: $primaryTextColor;
}
.tooltip {
    width: 600px;
}
.my-dialog {
    border-radius: 20px;
}
.border-none {
    border: none;
}
::ng-deep {
    .p-confirm-popup {
        box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%),
            0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
    }
}
