.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("assets/football-login.jpg");
    background-size: cover;
    background-position: center;
}
.login-card{
    width: 30rem;
}