
.page-not-found{
    height: 100vh;
    color: $backgroundColor;
    font-weight: bold;
    background-image: url('assets/page-not-found.jpg');
    background-size: cover;
    background-position: center;
}