.signup {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/football-signup.jpg");
    background-size: cover;
    background-position: center;
}

.signup-card {
    max-width: 50rem;
    @media (max-width: $md) {
        max-width: 23rem;
    }
}
