<h4>Username:<span class="p-text-bold"> {{user.username}}</span></h4>
<h4>Nome:<span class="p-text-bold"> {{user.name |titlecase}}</span></h4>
<h4>Cognome:<span class="p-text-bold"> {{user.surname | titlecase}}</span></h4>
<h4>Email:<span class="p-text-bold"> {{user.email }}</span></h4>
<h4>Ruolo:<span class="p-text-bold"> {{user.role }}</span></h4>
<div class="p-mb-5 p-d-flex p-ai-top">
    <label class="" for="newsletter">Newsletter</label>
    <p-inputSwitch class="p-ml-3" id="newsletter" (onChange)="toggleNewsletter()" [(ngModel)]="user.newsletter"></p-inputSwitch>
</div>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <label class="p-d-block" for="currentPassword">Vecchia Password</label>
    <input formControlName="currentPassword" class="w-100" pInputText type="password" id="currentPassword">
    <label class="p-mt-2 p-d-block" for="newPassword">Nuova Password</label>
    <input formControlName="newPassword" class="w-100" pInputText type="password" id="newPassword">
    <label class="p-mt-2 p-d-block" for="repeatPassword">Ripeti Password</label>
    <input formControlName="repeatPassword" class="w-100" pInputText type="password" id="repeatPassword">
    <small *ngIf="">I campi Password e Ripeti Password non corrispondono</small>
    <small class="p-error">{{errorMsg}}</small>
    <button type="submit" [class.p-disabled]="!changePasswordForm.valid " class="p-mt-4 w-100" pButton
        label="Cambia Password"></button>
</form>