<p-toast baseZIndex="1151"></p-toast>
<div class="p-shadow-6">
  <div class="login">
    <p-card class="login-card">
      <ng-template pTemplate="header">
        <div class="p-d-flex p-ai-baseline">
          <h2 class="p-pl-3 p-pt-0 p-pm-0 p-text-bold">Login</h2>
        </div>
      </ng-template>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <label class="p-d-block" for="username">Username o email</label>
          <input class="w-100" pInputText id="username" type="text" formControlName="username">
        </div>
        <small *ngIf="!username.valid && username.touched" class="p-error" data-error="wrong" data-success="right">Il
          campo Username è obbligatorio</small>
        <div class="p-mt-4">
          <label class="p-d-block" for="password">Password</label>
          <input class="w-100" pInputText type="password" formControlName="password" id="password">
        </div>
        <small *ngIf="!password.valid && password.touched" class="p-error" data-error="wrong" data-success="right">Il
          campo Password è obbligatorio</small>
        <div class="p-mt-5 p-mb-2">
          <p class="p-error">{{errorData}}</p>
          <button class="p-mr-2 p-button-outlined" type="button" routerLink="/signup" pButton
            label="Registrati"></button>
          <button [class.p-disabled]="!loginForm.valid" pButton type="submit" label="Login"></button>
        </div>
        <a (click)="showPositionDialog('bottom')" class="p-mt-3"><small class="cursor-pointer">Hai dimenticato la
            password?</small></a>
      </form>
    </p-card>
  </div>
</div>
<p-dialog class="p-forgot-password" header="Hai dimenticato la password?" [(visible)]="displayPosition"
  [position]="position" [modal]="true" [style]="{width: '26rem'}" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false">
  <p class="p-mt-0">Inserisci l'username con cui ti sei registrato.
    <small class=" p-pl-0">Riceverai ulteriori informazioni via mail.</small>
  </p>
  <div class="w-100 p-mb-4">
    <label class="p-d-block" for="username">Username</label>
    <input [(ngModel)]="input" pInputText id="username" type="text">
  </div>
  <div class="p-d-flex p-jc-end">
    <button icon="pi pi-check" (click)="recoverPassword(input)" label="Recupera Password" pButton>
    </button>
  </div>
</p-dialog>
<p-messages [(value)]="msgs"></p-messages>
