<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  <span style="font-size: medium; background-color: white; padding: 0 10px;">
    Amministratori
  </span>
</div>
<div *ngFor="let user of users">
    <div class="p-d-flex p-ai-baseline p-jc-between" *ngIf="user.role =='ADMIN'">
        <p class="p-ml-2 p-text-bold">{{user.name |titlecase}} {{user.surname |titlecase}}</p>
        <div class="p-mr-2">
            <a pTooltip="Copia email" tooltipPosition="left" tooltipZIndex="1151" (click)="copyEmail(user.email)"><i class="p-ml-4 pi pi-copy"></i></a>
            <a pTooltip="Rendi EXTERNAL" tooltipPosition="left" tooltipZIndex="1151"(click)="changeRole(user.username, 'EXTERNAL')"><i class="p-ml-4 pi pi-angle-double-down"></i></a>
            <a pTooltip="Rendi USER" tooltipPosition="left" tooltipZIndex="1151"(click)="changeRole(user.username, 'USER')"><i class="p-ml-4 pi pi-angle-down"></i></a>
            <a (click)="confirmDelete(user.username)"><i class="p-ml-4 pi pi-trash"></i></a>
            <p-confirmPopup></p-confirmPopup>
        </div>
    </div>
</div>
<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  <span style="font-size: medium; background-color: white; padding: 0 10px;">
    Utenti
  </span>
</div>
<div *ngFor="let user of users">
    <div class="p-d-flex p-ai-baseline p-jc-between" *ngIf="user.role =='USER'">
        <p class="p-ml-2">{{user.name |titlecase}} {{user.surname |titlecase}}</p>
        <div class="p-mr-2 p-d-flex p-jc-end">
            <a pTooltip="Copia email" tooltipPosition="left" tooltipZIndex="1151" (click)="copyEmail(user.email)"><i class="p-ml-4 pi pi-copy"></i></a>
            <a pTooltip="Rendi EXTERNAL" tooltipPosition="left" tooltipZIndex="1151" [tooltipDisabled]="false" (click)="changeRole(user.username, 'EXTERNAL')"><i class="p-ml-4 pi pi-angle-down"></i></a>
            <a pTooltip="Rendi ADMIN" tooltipPosition="left" tooltipZIndex="1151" [tooltipDisabled]="false" (click)="changeRole(user.username, 'ADMIN')"><i class="p-ml-4 pi pi-angle-up"></i></a>
            <a (click)="confirmDelete(user.username)"><i class="p-ml-4 pi pi-trash"></i></a>
            <p-confirmPopup></p-confirmPopup>
        </div>
    </div>
</div>
<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
  <span style="font-size: medium; background-color: white; padding: 0 10px;">
    Esterni
  </span>
</div>
<div *ngFor="let user of users">
  <div class="p-d-flex p-ai-baseline p-jc-between" *ngIf="user.role =='EXTERNAL'">
    <p class="p-ml-2">{{user.name |titlecase}} {{user.surname |titlecase}}</p>
    <div class="p-mr-2 p-d-flex p-jc-end">
      <a pTooltip="Copia email" tooltipPosition="left" tooltipZIndex="1151" (click)="copyEmail(user.email)"><i class="p-ml-4 pi pi-copy"></i></a>
      <a pTooltip="Rendi ADMIN" tooltipPosition="left" tooltipZIndex="1151"(click)="changeRole(user.username, 'ADMIN')"><i class="p-ml-4 pi pi-angle-double-up"></i></a>
      <a pTooltip="Rendi USER" tooltipPosition="left" tooltipZIndex="1151"(click)="changeRole(user.username, 'USER')"><i class="p-ml-4 pi pi-angle-up"></i></a>
      <a (click)="confirmDelete(user.username)"><i class="p-ml-4 pi pi-trash"></i></a>
      <p-confirmPopup></p-confirmPopup>
    </div>
  </div>
</div>

<p-dialog [(visible)]="confirmationModal" header="Sei sicuro di voler procedere?">
  <div>
    <button (click)="confirmationModal = false" class="p-button-outlined" pButton label="Annulla"></button>
    <button class="p-ml-2 p-button-danger" (click)="delete()" pButton label="Conferma"></button>
  </div>
</p-dialog>
