<form [formGroup]="newEventForm" (ngSubmit)="onSubmit()">

  <p-dropdown class=" p-mt-5 p-mb-5 p-d-block" [options]="categories" formControlName="category"
    placeholder="Categoria Evento"></p-dropdown>

  <label class="p-d-block" for="dateTime">Seleziona la data</label>
  <p-calendar [minDate]="minDateValue" dateFormat="dd-mm-yy" [touchUI]="true" class=" p-mb-5 p-d-block"
    formControlName="dateTime" [showTime]="true" inputId="time"></p-calendar>
    <label class="p-d-block" for="minmax-buttons">Quante ore prima vuoi dare il via libera?</label>
    <p-inputNumber class="p-d-block p-mb-5" formControlName="hourOfFreePeriod" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0"
      [max]="96">
    </p-inputNumber>
    <label class="p-d-block" for="minmax-buttons">Entro quante ore vuoi che ci si possa disiscrivere?</label>
    <p-inputNumber class="p-d-block p-mb-5" formControlName="hourOfNoDeleteZone" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0">
    </p-inputNumber>
  <button class="p-mt-5" [disabled]="!newEventForm.valid" pButton type="submit" label="Crea Evento"></button>
</form>
