<app-navbar></app-navbar>
<div class="home">
  <h1 *ngIf="user" class="p-text-center header p-mb-0">Ciao {{user.name |titlecase}}!</h1>
    <h2 class="p-text-center content p-mt-0" *ngIf="events && events.length >= 1">Ecco i prossimi eventi in calendario </h2>

    <span class="p-ml-5" *ngIf="subscribedEvents && subscribedEvents.length >= 1">Eventi a cui sei iscritto</span>
    <div *ngIf="subscribedEvents" class="p-grid p-p-3">
        <div *ngFor="let event of subscribedEvents" class="p-col-12 p-md-6 p-lg-6 p-p-3">
            <div class="p-shadow-7">
                <p-card styleClass="card-event">
                    <ng-template pTemplate="header">
                        <div class="p-d-flex p-ai-baseline p-jc-between">
                            <div class="p-d-flex p-ai-baseline">
                                <h2 class="p-pl-3 p-pt-0 p-text-bold">{{event.category}}</h2>
                                <i tooltipStyleClass="tooltip"
                                    pTooltip="Evento creato da {{event.creator.name |titlecase}} {{ event.creator.surname |titlecase }}"
                                    tooltipPosition="right"
                                    class="info p-ml-2 fas fa-info-circle p-d-none p-d-md-inline-flex"></i>
                            </div>
                            <div>
                                <a *ngIf="user && user.role =='ADMIN'" (click)="editEvent(event)"><i
                                        class="pi pi-pencil p-pr-4 p-pt-2"></i></a>
                                <a *ngIf="user && user.role == 'ADMIN'" (click)="confirmDeleteEvent(event.id)"><i
                                        class="pi pi-trash p-pr-4 p-pt-2"></i></a>
                            </div>
                        </div>
                    </ng-template>
                    <div class="p-pt-0 p-mb-3">
                        <span class="p-d-block"><span class="p-text-bold"> Posti Disponibili :</span>
                            {{event.freeSeats}} / {{ event.totalSeats }}</span>
                        <span class="p-d-block"><span class="p-text-bold"> Data :</span> {{ event.date}}</span>
                        <span class="p-d-block"><span class="p-text-bold"> Ora :</span> {{ event.hour}}</span>
                        <span class="p-d-block"><span pTooltip="{{freePeriodDescription}}" tooltipPosition="right" class="p-text-bold"> Inizio iscrizioni libere :</span> {{ event.hourOfFreePeriod}}h</span>
                        <span class="p-d-block"><span pTooltip="{{noDeleteZoneDesc}}" tooltipPosition="right" class="p-text-bold"> Limite cancella iscrizione :</span> {{ event.hourOfNoDeleteZone}}h</span>
                    </div>
                    <div class="p-mb-0 p-d-flex p-jc-end">
<!--                        <button *ngIf="user.role === 'EXTERNAL'" pButton style="background-color:#003087; border-color:#003087" type="button" label="PayPal" (click)="payPalRedirect()"></button>-->
                        <button *ngIf="isAdmin" (click)="findPlayers(event.id, 0);findPlayers(event.id,  1)" pButton type="button"
                            label="Seleziona squadre" class="p-button-outlined"></button>
                        <button (click)="findPlayers(event.id, 0);findPlayers(event.id,  1)" *ngIf="!isAdmin" pButton
                            type="button" label="Visualizza squadre" class="p-ml-2 p-button-outlined"></button>
                        <button (click)="confirmAnnullaIscrizione(event.id, user.username)" class="p-ml-2 p-button-danger"
                            pButton label="Cancella iscrizione"></button>
                        <p-confirmPopup></p-confirmPopup>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
    <h2 class="content p-ml-2 p-mt-0" *ngIf="events && events.length < 1">Al momento non ci sono eventi in calendario.
        Stay Tuned!
    </h2>
    <span *ngIf="events && events.length>=1" class="p-ml-5">Prossimi eventi </span>
    <small class=" p-pl-3 p-error">{{errorMsg}}</small>

    <div class="p-grid p-p-3">

        <div *ngFor="let event of events; let i=index" class="p-col-12 p-md-6 p-lg-6 p-p-3">
            <div class="p-shadow-7">
                <p-card styleClass="card-event">
                    <ng-template pTemplate="header">
                        <div class="p-d-flex p-ai-baseline p-jc-between">
                            <div class="p-d-flex p-ai-baseline">
                                <h2 class="p-pl-3 p-pt-0 p-text-bold">{{event.category}}</h2>
                                <i tooltipStyleClass="tooltip"
                                    pTooltip="Evento creato da {{event.creator.name |titlecase}} {{ event.creator.surname |titlecase }}"
                                    tooltipPosition="right"
                                    class="info p-ml-2 fas fa-info-circle p-d-none p-d-md-inline-flex"></i>
                            </div>
                          <div>
                                <a *ngIf="user && user.role =='ADMIN'" (click)="editEvent(event)"><i
                                        class="pi pi-pencil p-pr-4 p-pt-2"></i></a>
                                <a *ngIf="user && user.role =='ADMIN'" (click)="confirmDeleteEvent(event.id)"><i
                                        class="pi pi-trash p-pr-4 p-pt-2"></i></a>
                            </div>
                        </div>
                    </ng-template>
                  <div class="p-pt-0 p-mb-3">
                        <span class="p-d-block"><span class="p-text-bold"> Posti Disponibili :</span>
                            {{event.freeSeats}}/{{ event.totalSeats }}</span>
                        <span class="p-d-block"><span class="p-text-bold"> Data :</span> {{ event.date}}</span>
                        <span class="p-d-block"><span class="p-text-bold"> Ora :</span> {{ event.hour}}</span>
                        <span class="p-d-block"><span pTooltip="{{freePeriodDescription}}" tooltipPosition="right" class="p-text-bold" class="p-text-bold"> Inizio iscrizioni libere :</span> {{ event.hourOfFreePeriod}}h</span>
                        <span class="p-d-block"><span pTooltip="{{noDeleteZoneDesc}}" tooltipPosition="right" class="p-text-bold" class="p-text-bold"> Limite cancella iscrizione :</span> {{ event.hourOfNoDeleteZone}}h</span>
                    </div>
                    <div class="p-mb-0 p-d-flex p-jc-end">
                        <button (click)="findPlayers(event.id,  0);findPlayers(event.id,  1)" *ngIf="isAdmin" pButton type="button" label="Seleziona squadre" class="p-button-outlined"></button>
                        <button (click)="findPlayers(event.id, 0);findPlayers(event.id,  1)" *ngIf="!isAdmin" pButton type="button" label="Visualizza squadre" class="p-button-outlined"></button>
                        <button (click)="confirm(event.id, user.role)" class="p-ml-2" pButton label="Prenotati"></button>
                        <p-confirmPopup class="p-my-shadow"></p-confirmPopup>
                    </div>
                </p-card>
            </div>

        </div>
    </div>
</div>

<p-toast baseZIndex="1151"></p-toast>

<p-dialog styleClass="my-dialog" [draggable]="false" [resizable]="false" modal="modal" header="Seleziona Squadre"
    [(visible)]="displayTeams" [baseZIndex]="5" (onHide)="ngOnInit()">
    <span class="p-mt-0 p-error">{{errorMsg}}</span>
    <div class="p-d-flex p-ai-baseline p-jc-between">
        <span class="p-text-bold">Giocatore</span>
        <div class="p-mr-2 p-d-flex p-jc-around">
            <span class="p-mr-3 p-text-bold">Bianchi</span>
            <span class="p-text-bold">Neri</span>
        </div>
    </div>
    <p *ngIf="iscritti.length<1">Ancora nessun iscritto.</p>
    <div *ngFor="let iscritto of iscritti">
        <app-player (onRemove)="removePlayer(iscritto.username)" [event]="event" [isAdmin]="isAdmin"
            (selected)="populateArray($event.username, iscritto.team)" [iscritto]="iscritto"></app-player>
    </div>
  <div class="p-mb-4">
    <p-accordion>
        <p-accordionTab *ngIf="riserve.length > 0" header="Riserve">
            <div *ngFor="let r of riserve">
              <p *ngIf="!(r.role === 'EXTERNAL')">{{r.name}} {{r.surname}}</p>
              <p *ngIf="r.role === 'EXTERNAL'">{{r.name}} {{r.surname}} [Ext]</p>
            </div>
        </p-accordionTab>
    </p-accordion>
  </div>
    <div *ngIf="isAdmin" class="p-grid p-jc-end p-mt-4 p-mb-2">
        <button [class.p-disabled]="isDisabled" (click)="defineTeams()" class="w-100" pButton
            label="Conferma squadre"></button>
    </div>
</p-dialog>
<p-dialog [(visible)]="confirmationModal" header="Sei sicuro di voler procedere?">
    <div>
        <button (click)="confirmationModal = false" class="p-button-outlined" pButton label="Annulla"></button>
        <button *ngIf="modelOperation === 'booking'" class="p-ml-2" (click)="confirmIscrizione()" pButton label="Conferma"></button>
        <button *ngIf="modelOperation === 'notBooking'" class="p-ml-2 p-button-danger" (click)="confirmIscrizione()" pButton label="Conferma"></button>
        <button *ngIf="modelOperation === 'canceling'" class="p-ml-2 p-button-danger" (click)="deleteEvent()" pButton label="Conferma"></button>
    </div>
</p-dialog>
<p-dialog [draggable]="false" [resizable]="false" modal="modal" header="Modifica Evento"
                [(visible)]="showEditEvent" [baseZIndex]="5">
                <form [formGroup]="editEventForm" (ngSubmit)="onSubmit()">
                    <p-dropdown class=" p-mt-5 p-mb-5 p-d-block" [options]="categories" formControlName="category"
                        placeholder="Categoria Evento"></p-dropdown>

                    <label class="p-d-block" for="dateTime">Seleziona la data</label>
                    <p-calendar [minDate]="minDateValue" dateFormat="dd-mm-yy" [touchUI]="true"
                        class=" p-mb-5 p-d-block" formControlName="dateTime" [showTime]="true" inputId="time">
                    </p-calendar>
                    <label class="p-d-block" for="minmax-buttons">Quante ore prima vuoi dare il via libera?</label>
                    <p-inputNumber class="p-d-block p-mb-5" formControlName="hourOfFreePeriod" mode="decimal"
                        [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="96">
                    </p-inputNumber>
                    <label class="p-d-block" for="minmax-buttons">Entro quante ore vuoi che ci si possa
                        disiscrivere?</label>
                    <p-inputNumber class="p-d-block p-mb-5" formControlName="hourOfNoDeleteZone" mode="decimal"
                        [showButtons]="true" inputId="minmax-buttons" [min]="0">
                    </p-inputNumber>
                    <button class="p-mt-5" [disabled]="!editEventForm.valid" pButton type="submit"
                        label="Modifica Evento"></button>
                </form>
</p-dialog>

<p-dialog [draggable]="false" [resizable]="false" [(visible)]="paymentModal" header="Match a pagamento, sei sicuro di voler procedere?">
  <p>
    L'iscrizione a questo match è a pagamento. <br>
    Per partecipare è richiesta una quota di 1€.
<!--    <strong>È necessario indicare come causale Nome e Cognome seguiti dal nome dell'evento a cui si è intenzionati a iscriversi.</strong><br>-->
<!--    Gli incaricati controlleranno che tu abbia effettuato il pagamento prima di assegnare le squadre. <br>-->
<!--    Nel caso in cui non dovessi rientrare tra i titolari gli incaricati provvederanno a rimborsarti la quota versata. <br>-->
<!--    Una volta effettuato il pagamento clicca su 'Conferma' per iscriverti alla partita.-->
  </p>
<!--  <div class="p-mb-0 p-d-flex p-jc-center p-mb-6 p-mt-6">-->
<!--    <button pButton style="background-color:#003087; border-color:#003087" type="button" label="PayPal" (click)="payPalRedirect()" ></button>-->
<!--  </div>-->
  <div class="p-mb-0 p-d-flex p-jc-center">
    <button (click)="paymentModal = false" class="p-button-outlined" pButton label="Annulla"></button>
    <button *ngIf="modelOperation === 'booking'" class="p-ml-2" (click)="confirmIscrizione()" pButton label="Conferma"></button>
    <button *ngIf="modelOperation === 'notBooking'" class="p-ml-2 p-button-danger" (click)="confirmIscrizione()" pButton label="Conferma"></button>
    <button *ngIf="modelOperation === 'canceling'" class="p-ml-2 p-button-danger" (click)="deleteEvent()" pButton label="Conferma"></button>
  </div>
</p-dialog>
