<p-menubar [model]="items">

    <ng-template pTemplate="end">
        <a (click)="logout()" class="p-menuitem-link"><i class="pi pi-fw pi-power-off p-mr-2"></i> Logout</a>
    </ng-template>
</p-menubar>

<p-dialog class="my-dialog" [draggable]="false" [resizable]="false" modal="modal" header="Aggiungi Evento" [(visible)]="display" [baseZIndex]="5">
    <app-new-event></app-new-event>
</p-dialog>
<p-dialog *ngIf="user && user.role == 'ADMIN'" [draggable]="false" [resizable]="false" modal="modal" header="Gestione Utenti" [(visible)]="displayIncaricati" [baseZIndex]="5">
    <app-new-incaricati></app-new-incaricati>
</p-dialog>
<p-dialog  [draggable]="false" [resizable]="false" modal="modal" header="Il tuo Profilo" [(visible)]="displayProfile" [baseZIndex]="5">
    <app-profile></app-profile>
</p-dialog>
