$sm: 640px;
$md: 720px;
$lg: 960px;
$xl: 1080px;

.p-menubar {
    background-color: white;
}
.p-confirm-popup {
    box-shadow: 0px 9px 1px -22px rgb(0 0 0 / 1%), 0px 4px 1px 3px rgb(0 0 0 / 0%), -3px 2px 46px -6px rgb(0 0 0 / 1%);
}
.p-dialog,
.login-card {
    border-radius: 20px;
    width: 35rem;
    @media (max-width: $md) {
        width: 23rem;
    }
}
.p-dropdown,
.p-calendar {
    width: 100%;
}
::ng-deep {
    .p-datepicker-touch-ui {
        min-width: none;
    }
}

.p-card,
.p-shadow-7 {
    border-radius: 20px;
}
.p-button {
    border-radius: 7px;
}
.p-inputtext {
    width: 100%;
    border-radius: 7px;
}
.cursor-pointer {
    cursor: pointer;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover,
.p-menubar .p-menuitem-link:not(.p-disabled):hover {
    border-radius: 7px;
}
.p-dialog .p-dialog-header {
    border-radius: 20px 20px 0 0;
}
.p-dialog .p-dialog-content {
    &.p-forgot-password {
        border-radius: 0 0 20px 20px;
    }
    border-radius: 0 0 20px 20px;
}
.p-dialog .p-dialog-footer {
    border-radius: 0 0 20px 20px;
}
.p-dropdown{
    border-radius: 7px;
}
.p-calendar .p-datepicker-touch-ui, .p-datepicker-touch-ui{
    border-radius: 20px;
    min-width: 60vw !important;
    @media (max-width : $md) {
        min-width: 80vw !important;
    }
}