h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100vh;
}

.text-primary {
    color: $primaryColor;
}

.bg-primary {
    background-color: $primaryColor;
}

.d-block {
    display: block;
}

.btn-primary {
    background-color: $primaryColor;
    text-transform: none;
    &:hover {
        background-color: $primaryColor;
        color: $primaryTextColor;
        text-transform: none;
    }
}

.flex-direction-column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}
ul {
    list-style: none;
    color: $backgroundColor;
}

li {
    text-decoration: none;
    color: $backgroundColor;
}

input:focus {
    border-bottom: 1px solid #005074;
}
input > label:focus {
    color: $primaryColor;
}

a {
    color: black;
    &:hover {
        color: grey;
        text-decoration: none;
    }
}

.bg-dark,
navbar-dark {
    background-color: rgb(2, 28, 41) !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.row {
    margin-right: 0;
}

.col-sm-4 {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 576px) {
    .display-4 {
        font-size: 10vw;
    }
}
