<div class="p-shadow-6">
  <div class="signup">
    <p-card class="signup-card">
      <ng-template pTemplate="header">
        <div class="p-d-flex p-ai-baseline">
          <a class="p-ml-3 p-text-primary" (click)="goToLogin()"><i class="pi pi-chevron-left"></i></a>
          <h2 class="p-pl-3 p-pt-0 p-text-bold">Registrati</h2>
        </div>
      </ng-template>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-6">
            <label class="p-d-block" for="name">Nome</label>
            <input name pInputText id="name" [(ngModel)]="nameModel" formControlName="name" type="text">
            <small *ngIf="name.invalid && (name.dirty || name.touched)">
              <small *ngIf="name.errors.required" class="p-error" data-error="wrong" data-success="right">Il campo
                Nome è obbligatorio</small>
              <small *ngIf="name.errors.pattern" class="p-error" data-error="wrong" data-success="right">Il campo Nome
                non può contenere numeri e caratteri Speciali</small>
            </small>


          </div>
          <div class="p-col-12 p-md-6 p-lg-6">
            <label class="p-d-block" for="surname">Cognome</label>
            <input pInputText id="surname" [(ngModel)]="surnameModel" formControlName="surname" type="text">
            <small *ngIf="surname.touched && !surname.valid" class="p-error" data-error="wrong" data-success="right">Il
              campo Cognome è obbligatorio</small>
          </div>
          <div class="p-col-12 p-md-6 p-lg-6">
            <label class="p-d-block" for="email">Email</label>
            <input pInputText id="email" formControlName="email" type="email">
            <small *ngIf="email.touched && !email.valid" class="p-error" data-error="wrong" data-success="right">Il
              campo
              Email è obbligatorio</small>
          </div>
          <div class="p-col-12 p-md-6 p-lg-6">
            <label class="p-d-block" for="password">Password</label>
            <input pPassword id="password" pInputText formControlName="password" type="password">
            <small *ngIf="password.invalid && (password.dirty || password.touched)">
              <small *ngIf="password.errors.required" class="p-error" data-error="wrong" data-success="right">Il campo
                Password è obbligatorio</small>
              <small *ngIf="password.errors.pattern" class="p-error" data-error="wrong" data-success="right">Il campo
                Password non rispetta il pattern</small>
            </small>
          </div>
          <div class="p-col-12 p-md-6 p-lg-6">
            <label class="p-d-block" for="repeatPassword">Ripeti Password</label>
            <input pInputText id="repeatPassword" formControlName="repeatPassword" type="password">
            <small *ngIf="repeatPassword.touched && password.value != repeatPassword.value" class="p-error">Le due
              password devono coincidere</small>
          </div>

        </div>

        <div>
          <input formControlName="externalUser" for="externalUser" type="checkbox">
          <label class="p-ml-2" id="externalUser"><small pTooltip="Non vivo nella residenza elis" tooltipPosition="right">Non vivo nella residenza elis</small></label>
        </div>
        <input formControlName="newsletter" for="newsletter" type="checkbox">
        <label class="p-ml-2" id="newsletter"><small pTooltip="Riceverai una mail ogni volta che verrà creato un evento." tooltipPosition="right">Accetto di ricevere comunicazioni in merito ai nuovi eventi</small></label>
        <button [class.p-disabled]="!registerForm.valid" class="w-100 p-mt-5" pButton type="submit"
          label="Registrati"></button>
        <p class="pl-1">il tuo username è <b id="username">{{nameModel.toLowerCase().trim().replace(' ',
            '')}}.{{surnameModel.toLowerCase().trim().replace(' ', '').split('[')[0]}}</b></p>
      </form>
      <small class=" p-pl-3 p-error">{{errorMsg}}</small>
    </p-card>
  </div>
</div>
