@import "./assets/theme-rc.scss";
@import "./assets/overrides";
@import "./assets/utils";
@import "./assets/pages/login";
@import "./assets/pages/home";
@import "./assets/pages/signup";
@import "./assets/pages/page-not-found";
@import "./assets/components/navbar";

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: none;
    color: #5d656c;
}
